body {
    height: 200vh;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.menu-bar {
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: sticky;
    top: 0px;
}

nav {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: font-size 0.2s ease; /* Added transition for font size */
}

a:hover {
    font-size: 20px;
}

.container {
    /* Add styles for container if needed */
}
