body {
    height: 100vh;
    background-color: antiquewhite;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: aqua;
    padding: 10px;
}

p {
    font-family: 'poppins' , sans-serif;
}